<div class="card">
    <div class="card-header">
        <div class="col-md-12" style="margin-top: 22px">
            <div class="col-md-3">
                <label>Teacher : <span class="card-title text-center"
                                       ng-bind="currentUser.data.fullName"></span></label>
            </div>
            <div class="col-md-3">
                <label>Group : <span class="card-title text-center" ng-bind="studentViewCtrl.group.name"></span></label>
            </div>
            <div class="col-md-3">
                <label>Subject : <span class="card-title text-center"
                                       ng-bind="studentViewCtrl.subject.name"></span></label>
            </div>
            <a style="margin-bottom: 10px; float: right" title="Add" class="btn btn-circle btn-white"
               ng-click="studentViewCtrl.createStudent()">
                <i class="material-icons">add</i>
            </a>
        </div>

        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th rowspan="2" style="padding-bottom: 30px">#</th>
                <th rowspan="2" style="padding-bottom: 30px">Name</th>
                <th ng-if="$index < 18" ng-repeat="index in studentViewCtrl.attendances" ng-bind="$index + 1"></th>
                <th>DN 1</th>
                <th>DN 2</th>
                <th>ON 1</th>
                <th>ON 2</th>
                <th>YN</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            <tr style="height: 50px">
                <th ng-repeat="attendance in studentViewCtrl.attendances"
                    ng-click="studentViewCtrl.changeAttendance(attendance)" ng-bind="attendance.date | date : 'dd/MM'">
                </th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="student in studentViewCtrl.students">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="student.name"></td>
                <td style="text-align: center" ng-repeat="mark in student.marks" ng-bind="mark.status"
                    ng-click="studentViewCtrl.changeMark(mark)"></td>
                <th>
                    <button type="button" class="btn btn-primary btn-circle"
                            ng-click="studentViewCtrl.deleteStudent(student)">
                        <i class="material-icons">delete</i>
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clearfix"></div>