<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Настройки</a></li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <div class="card settings-group">
                <div class="card-header bg-white">
                    <div class="media">
                        <div class="media-body ">
                            <h5 class="card-title">User administration</h5>
                        </div>
                        <div class="media-right media-middle">
                            <a title="Add" ui-sref="app.main.settings.users.add"
                               class="btn btn-circle btn-white"><i
                                    class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <tbody>
                    <tr ui-sref-active="table-active"
                        ng-repeat="user in userCtrl.users">
                        <td width="80%">
                            <a ui-sref="app.main.settings.users.edit({userUuid: user.uuid})">
                                <span ng-bind="user.fullName"></span>
                            </a>
                        </td>
                        <td width="20%">
                            <div class="media-right media-middle">
                                <a title="Edit"
                                   ui-sref="app.main.settings.users.edit({userUuid: user.uuid})"
                                   class="btn btn-circle-sm btn-white"><i class="material-icons">edit</i></a>
                            </div>
                            <div class="media-right media-middle">
                                <a title="Delete" class="btn btn-circle-sm btn-white"
                                   ng-click="userCtrl.delete(user)"><i class="material-icons">delete</i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card settings-group">
                <ui-view>
                    <div class="card-block text-xs-center">
                        <h4 class="card-title">User not selected</h4>

                        <p class="card-text">Please select one of them</p>
                    </div>
                </ui-view>
            </div>
        </div>
    </div>
</div>
